<div>
  <h5 class="acs-title">OTC Address</h5>
  <div class="acs-content">
    <p class="acs-desc">
      OTC-adress desc OTC-adress desc OTC-adress desc OTC-adress desc OTC-adress desc OTC-adress desc
    </p>
    <div class="acs-content">
      <div class="acs-list">
        <div class="acs-listitem">
          <div class="acs-text-label">Your wallet address:</div>
          <div class="acs-text-content"><a>{{address}}</a></div>
        </div>
        <div class="acs-listitem">
          <div class="acs-row">
            <div class="acs-row-label acs-text-label">Payment currency:</div>
            <div class="acs-row-text">{{currencyType}}</div>
          </div>
        </div>
        
        <div class="acs-listitem">
          <div class="acs-text-label">{{currencyType}} address:</div>
          <div class="acs-text-content"><a>{{depositAddr}}</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>