<div>
  <h5 class="acs-title">Affiliate-Code-System</h5>
  <div class="acs-content">
    <div class="acs-list">
      <div class="acs-listitem">
        <div class="acs-text-label">Buy coin url:</div>
        <div class="acs-text-content pl10 mt10"><a href="{{buyUrl}}" target="_blank">{{buyUrl}}</a></div>
      </div>
      <div class="acs-listitem">
        <div class="acs-text-label">Join affiliate program url:</div>
        <div class="acs-text-content pl10 mt10"><a href="{{joinUrl}}" target="_blank">{{joinUrl}}</a></div>
      </div>
    </div>
  </div>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>