<div>
  <h5 class="acs-title">Affiliate-Code-System</h5>
  <div class="acs-content">
    <p class="acs-desc">
      {{desc}}
    </p>
    <div class="acs-input-con">
      <form #forms="ngForm">
        <div class="acs-input-label">Please input your wallet address:</div>
        <mat-form-field >
          <input matInput [(ngModel)]="modal.address" name="address" required>
          <!-- <mat-error *ngIf="walletChecker.invalid">{{getWalletErrMsg()}}</mat-error> -->
        </mat-form-field>
      </form>
      <div class="acs-submitbutton-box">
        <button mat-raised-button color="primary" (click)="onGenerate()" [disabled]="!forms.form.valid">Generate Url</button>
        <button mat-button mat-raised-button color="accent" (click)="onViewInvitation()" [disabled]="!forms.form.valid">My Invitation</button>
      </div>
    </div>
  </div>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>