/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  color: #333;
}
a{
  color: #337ab7;
  text-decoration: none;
}
.mt10{margin-top: 10px;}.mt15{margin-top: 15px;}.mt20{margin-top: 20px;}
.ml10{margin-left: 10px;}
.pl10{padding-left: 10px;}
.ng-star-inserted > div{
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
}

.acs-title{
  text-align: center;
  font-size: 22px;
  margin: 10px 0;
  color: #222;
}

.acs-input-label{
  font-size: 16px;
}
.acs-text-label{
  font-size: 20px;
}
.acs-text-content a{
  font-size: 20px;
}
.acs-desc{
  font-size: 14px;
  color: #454545;
  text-indent: 2em;
  margin: 12px 0;
}

.acs-submitbutton-box{
  text-align: right;
}

.acs-input .mat-form-field-infix{
  padding-top: 0 !important;
}

.acs-listitem{
  border-bottom: solid 1px #cccccc;
  padding: 10px;
}

/* fix spinner positon */
.la-ball-clip-rotate-multiple.la-3x{
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;
}

