/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,body{padding: 0; margin: 0}
body{
  color: #333;
  background: #FAFAFA;
  font-family: PingHei,"PingFang SC","Helvetica Neue",Helvetica,STHeitiSC-Light,"Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
a{
  color: #337ab7;
  text-decoration: none;
}
.mt10{margin-top: 10px;}.mt15{margin-top: 15px;}.mt20{margin-top: 20px;}
.ml10{margin-left: 10px;}
.pl10{padding-left: 10px;}
.ng-star-inserted > div{
  max-width: 1024px;
  margin: 0 auto;
  /* padding: 0 10px; */
}

.acs-row{
  display: flex;
  align-items: baseline;
}
.acs-row-label{
  flex: 3;
}
.acs-row-text{
  flex: 2;
  font-size: 18px;
  color: #666;
  min-width: 0;
  /* text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;  */
  word-break: break-all;
  word-wrap: break-word;
}

.acs-title{
  text-align: center;
  font-size: 22px;
  margin: 0;
  background: #3F51B5;
  padding: 10px 0;
  color: #FFF;
  box-shadow: 0 2px 9px 0px #666;  
}
.acs-content{
  padding: 0 10px;
}
.acs-input-label{
  font-size: 16px;
}

.acs-text-label{
  font-size: 20px;
}

.acs-text-content{
  padding-left: 4px;
  margin-top: 10px;
  /* text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */
  word-break: break-all;
  word-wrap: break-word;
}

.acs-text-content a{
  font-size: 18px;
}

.acs-desc{
  font-size: 15px;
  line-height: 18px;
  color: #666;
  text-indent: 2em;
  margin: 12px 0;
}

.acs-submitbutton-box{
  text-align: right;
}
.acs-input-con input.mat-input-element{
  line-height: 1.3em;
}
.acs-input-con .mat-form-field-infix{
  padding-top: 0 !important;
}
.acs-radio-con{
  padding: 12px 0;
  border-bottom: solid 1px rgba(0,0,0,.42); 
  margin-bottom: 20px;
}

.acs-radio-con label.mat-radio-label{
  margin-left: 8px; 
}
.acs-input-con .mat-form-field{
  width: 100%;
  text-indent: 4px;
}

.acs-listitem{
  border-bottom: solid 1px #cccccc;
  padding: 10px 0;
}

/* fix spinner positon */
.la-ball-clip-rotate-multiple.la-3x{
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;
}

