<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Buy {{$.CoinName}}</title>
    <link href="/s/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
<h1>Buy {{$.CoinName}}</h1>
<p>
</p>
<p>
SPACO, is a distributed next-generation network protocol,
which significantly improves on the current HTTP/HTTPS internet protocols.
SPACO opens the floodgates and allows anyone to be a network operator,
Instead of all resources being controlled by few industry giants.
Network resources and integrity are protected using our redundancy and smart contracts.
SPACO have a great advantage being distributed along with its reliability and also
its privacy protection in relation to the current Internet.
</p>
<p>
</p>
<form method="POST" name="form" action="" role="form">
<input type="hidden" name="ref" value="{{.Ref}}"/>
<div class="form-group">
<label for="address">Please input your wallet address:</label>
<input type="text" name="address" value="" id="address" class="form-control" placeholder="wallet address" size="60" maxlength="60"/>
</div>
<div class="form-group">
<label style="display:block;">Please choose cryptocurrency type:</label>
{{range .AllCurrency}}
{{if .Enabled}}
<label class="radio-inline" id="label-{{.ShortName}}">
<input type="radio" id="choice-{{.ShortName}}" name="currencyType" value="{{.ShortName}}">{{.FullName}} (1{{.ShortName}}=<span id="rate-{{.ShortName}}">{{.Rate}}</span> {{$.CoinName}})
</label>
{{end}}
{{end}}
</div>
</form>
<div>
<button type="button" class="btn btn-primary" onclick="getAddress()">Get Address</button>
<button type="button" class="btn btn-default" onclick="checkStatus()">Check Status</button> 
</div>
<div id="depositAddrDiv" class="alert alert-success" role="alert" style="display:none;">
<div class="input-group" style="width: 80%;">
<label for="depositAddr" style="display:block;">Deposit Address:</label>
<input id="depositAddr" value="" type="text" style="width: 60%;"/><button 
class="clipboardBtn" data-clipboard-target="#depositAddr" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"><img 
src="/s/svg/clippy.svg" alt="Copy to clipboard" width="13"></button>
<span id="depositAddrQr"></span>
<div id="depositAddrInfo"></div>
</div>
</div>
<div id="statusDiv" class="alert alert-success" role="alert" style="display:none;">
<span id="statusRes"></span>
</div>
</div>
<script src="/s/jquery.js"></script>
<script src="/s/bootstrap/js/bootstrap.min.js"></script>
<script src="/s/clipboard.js"></script>
<script src="/s/common.js"></script>
<script>
var clipboard = new Clipboard('.clipboardBtn');
clipboard.on('success',function(e){
	showTooltip(e.trigger,'Copied!');
});
clipboard.on('error',function(e){
	showTooltip(e.trigger,fallbackMessage(e.action));
});

function validate(form){
	if(!form.elements['address'].value){
    	alert('Please input wallet address');
    	return false;
    }
    var radios = form.elements['currencyType'];
    var valid = false;
    for (var i = 0; i < radios.length; i++){
     if (radios[i].checked){
      valid = true;
      break;
     }
    }
    if(!valid){
    	alert('Please choose cryptocurrency type');
    	return false;
    }
	return true
}
function getAddress(){
    var form = document.forms['form'];
    if(!validate(form)){
    	return;
    }
    $.ajax({ url: './get-address/', method: 'POST', data: $(form).serialize(), dataType: 'json', success: function(obj){
    	if(obj){
    		if(obj.code===0){
				$('#depositAddr').removeAttr("readonly");
				$('#depositAddr').val(obj.data.depositAddr);
				$('#depositAddrInfo').html(obj.data.first?'Your wallet address is the first time getting address.':'Your wallet address have already got the address.')
				$('#depositAddrQr').html('<img src="../qr-code/?content='+encodeURIComponent(obj.data.depositAddr)+'"/>')
				$('#depositAddr').attr("readonly","readonly");
    			$('#depositAddrDiv').show();
    			$("[data-toggle='tooltip']").tooltip(); 
    		}else{
    			alert(obj.errmsg);
    		}
    	}else{
    		alert("error"); 		
    	}
      }});
}
function checkStatus(){
    var form = document.forms['form'];
    if(!validate(form)){
    	return;
    }
    $.ajax({ url: './check-status/', method: 'POST', data: $(form).serialize(), dataType: 'json', success: function(obj){
    	if(obj){
    		if(obj.code===0){
    			$('#statusRes').text(obj.data);
    			$('#statusDiv').show();
    		}else{
    			alert(obj.errmsg);
    		}
    	}else{
    		alert("error"); 		
    	}
      }});
}

window.setInterval(function(){
	$.ajax({ url: './get-rate/', method: 'POST',  dataType: 'json', success: function(obj){
    	if(obj){
    		if(obj.code===0){
    			for(var i=0;i<obj.data.length;i++){
    				var node = $('#rate-'+obj.data[i].code);
    				if(!obj.data[i].enabled){
    					var labelNode = $('#label-'+obj.data[i].code);
    					if(labelNode){
    						labelNode.hide();
    					}
    				}else if(node&&obj.data[i].rate!=node.text()){
						node.text(obj.data[i].rate);  					
    				}
    			}
    		}else{
    			console.log(obj.errmsg);
    		}
    	}else{
    		console.log("error"); 		
    	}
      }});
},60000)
$('#address').focus();
</script>
</body>
</html>