<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no, address=no">
    <meta http-equiv=”X-UA-Compatible” content=”IE=Edge”>
    <title>SPO Teller Service</title>
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <link rel="stylesheet" href="/s/styles/common.css" />
    <link rel="stylesheet" href="/s/styles/layout.css" />
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="top-bar">
                <a class="logo" href="#">spo</a>
                <ul class="nav">
                    <li>
                        <a href="#">SPO Roadmap</a>
                    </li>
                    <li>
                        <a href="#">SPO Teller</a>
                    </li>
                    <li>
                        <a href="#">SPO Wallet</a>
                    </li>
                    <li>
                        <a href="#">Sign Up Newsletter</a>
                    </li>
                </ul>
                <div class="top-links">
                    <a class="c1" href="#"></a>
                    <a class="c2" href="#"></a>
                    <a class="c3" href="#"></a>
                    <a class="c4" href="#"></a>
                    <a class="c5" href="#"></a>
                    <a class="c6" href="#"></a>
                    <a class="c7" href="#"></a>
                </div>
            </div>
            <div class="text">
                <p>Welcome to</p>
                <h1>SPO Teller Service</h1>
                SPO is aiming at developing a Smart Network, of which especially focused on<br/> application-based networking.<br/>
                SPO is Secure, Smart, Distributed and with its own distinction!<br/><br/>

                SPO Teller is our main method when distributing SPO Tokens which can let our<br/> users achieve instant-trading with BTC, ETH, SKY, while our Teller Affiliate will<br/> provide a complimentary bonus for those purchasing SPO.
            </div>
        </div>
        <div class="my-invitation-list">
            <h2><span>My Invitation</span></h2>
            <p>You got {{.Times}} times reward. Remain {{.RewardRemain}} {{.CoinName}}</p>
            {{if gt .Times 0}}
            <div class="table-box">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Reward</th>
                            <th>Sent</th>
                            <th>Status</th>
                            <th>Time</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .RewardRecords}}
                        <tr>
                            <td>r{{.Id}}</td>
                            <td>{{.CalAmountStr}}</td>
                            <td>{{.SentAmountStr}}</td>
                            <td>{{if .Sent}} done {{end}} {{if not .Sent}} {{if eq .SentAmount 0}} remain {{end}}{{if ne .SentAmount 0}} remain {{end}} {{end}}</td>
                            <td>{{if .Sent}} {{.SentTime}} {{end}}</td>
                            <td>{{.RewardType}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
            {{end}}
        </div>
    </div>
</body>
</html>
