<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <title>SPO Teller Service</title>
    {{template "head"}}
</head>
<body>
    <div class="wrapper">
        {{template "top"}}
        <div class="my-invitation-list">
            <h2><span>My Invitation</span></h2>
            <p>You got {{.Times}} times reward. Remain {{.RewardRemain}} {{.CoinName}}</p>
            {{if gt .Times 0}}
            <div class="table-box">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Reward</th>
                            <th>Sent</th>
                            <th>Status</th>
                            <th>Time</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .RewardRecords}}
                        <tr>
                            <td>r{{.Id}}</td>
                            <td>{{.CalAmountStr}}</td>
                            <td>{{.SentAmountStr}}</td>
                            <td>{{if .Sent}} done {{end}} {{if not .Sent}} {{if eq .SentAmount 0}} remain {{end}}{{if ne .SentAmount 0}} remain {{end}} {{end}}</td>
                            <td>{{if .Sent}} {{.SentTime}} {{end}}</td>
                            <td>{{.RewardType}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
            {{end}}
        </div>
    </div>
</body>
</html>
