<div>
  <h5 class="acs-title">OTC Status</h5>
  <div class="acs-content">
    <p class="acs-desc">
      OTC-adress desc OTC-adress desc OTC-adress desc OTC-adress desc OTC-adress desc OTC-adress desc
    </p>
    <div class="acs-list">
      <div class="acs-listitem">
        <div class="acs-row">
          <div class="acs-row-label acs-text-label">Updated:</div>
          <div class="acs-row-text">{{updated}}</div>
        </div>
      </div>
      <div class="acs-listitem">
        <div class="acs-row">
          <div class="acs-row-label acs-text-label">GotDeposit:</div>
          <div class="acs-row-text">{{gotDeposit}}</div>
        </div>
      </div>
      <div class="acs-listitem">
        <div class="acs-row">
          <div class="acs-row-label acs-text-label">CurrencyType:</div>
          <div class="acs-row-text">{{currencyType}}</div>
        </div>
      </div>
      <div class="acs-listitem">
        <div class="acs-row">
          <div class="acs-row-label acs-text-label">DepositAmount:</div>
          <div class="acs-row-text">{{depositAmount}}</div>
        </div>
      </div>
      <div class="acs-listitem">
        <div class="acs-row">
          <div class="acs-row-label acs-text-label">SendCoin:</div>
          <div class="acs-row-text">{{sendCoin}}</div>
        </div>
      </div>        
      <div class="acs-listitem">
        <div class="acs-row">
          <div class="acs-row-label acs-text-label">CoinAmount:</div>
          <div class="acs-row-text">{{coinAmount}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>